@import "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.8rem;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.35rem;
  color: $mainBlack;
  background: $grey;
}

// title
.section-title {
  color: $darkBck;
  text-transform: uppercase;
  margin: 1rem 1rem 0.5rem 1rem;
  font-size: 3rem;
}
.section-underline {
  border: 3px solid $lightBck;
  background: $lightBck;
  width: 70px;
  height: 3px;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  transition: all 1s linear;
}
section:hover .section-underline {
  width: 250px;
  border: 3px solid rgb(255, 57, 57);
  background: rgb(255, 57, 57);
}
